@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
.error {
  color: #e64b4b;
}
.servereror {
  text-align: center;
  color: #e64b4b;
  margin-bottom: 1rem;
}
.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border-color: transparent !important;
}
/* FORMULARIO INICIAR SESIÓN & CREAR CUENTA */

.InitForm {
  padding: 2rem;
  background-color: #303030;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.LoginForm {
  background-color: #1f1f1f;
  width: 30rem;
  padding: 2rem;
  border-radius: 0.5rem;
  h3 {
    color: #3c9eef;
    font-size: 25px;
  }
  p {
    color: #fafafa;
    margin-bottom: 1rem;
  }
  .MuiTextField-root {
    margin: 0px !important;
    margin-bottom: 1rem !important;
    label {
      color: #fafafa;
    }
    input {
      border-radius: 10px;
      color: #fafafa;
      background-color: #303030;
      fieldset {
        border: none;
      }
    }
  }
  figure {
    width: 100px;
    margin: 0 auto;
    margin-bottom: 2rem;
    img {
      width: 100%;
    }
  }
  .rememberpass {
    margin-bottom: 1rem;
    a {
      color: #3c9eef;
      margin-left: 0px;
    }
  }
  .css-sghohy-MuiButtonBase-root-MuiButton-root {
    width: 100% !important;
    margin-bottom: 1rem;
  }
  .css-dpjnhs-MuiInputBase-root-MuiOutlinedInput-root {
    padding: 0 !important;
  }
  textarea {
    border-radius: 10px;
    background-color: #303030;
    color: #fafafa;
    padding: 1rem 1rem;
  }
}

/* SELECTING */
.selectingCategories {
  background-color: #303030;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .user_categories {
    background-color: #1f1f1f;
    padding: 2rem;
    border-radius: 10px;
    color: #fafafa;
    width: 80%;
  }
  .Titleuser_category {
    text-align: center;
    margin-bottom: 1rem;
    span {
      color: #3c9eef;
      font-weight: 600;
    }
  }

  .Category_Selected > p,
  .Category_Unselected > p {
    padding: 2rem;
  }

  .categoria {
    border-radius: 100px;
    cursor: pointer;
    padding: 0.5rem 0.5rem;
    border: 1px solid #3c9eef;
    display: inline-block;
    margin: 0.5rem;
  }
  .btns_category {
    margin-top: 2rem;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: right;
  }
}

/* NAV */
header {
  background-color: #1f1f1f !important;
  padding: 1rem;
  .css-hyum1k-MuiToolbar-root {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
  }
  figure {
    width: 60px;
    img {
      width: 100%;
    }
  }
  .css-l6jwtl-MuiStack-root {
    color: #3c9eef !important;
  }
  .css-1x51dt5-MuiInputBase-input-MuiInput-input {
    width: 40rem !important;
    color: white;
  }
  .SearchIcon {
    color: #3c9eef;
  }
  .fa-chevron-down {
    color: #3c9eef;
    font-size: 25px;
    margin-left: 1rem;
  }
  .fa-user {
    color: #3c9eef;
    font-size: 25px;
    margin-left: 1rem;
  }
}
/* MENU NAV */
.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
  background-color: transparent !important;
}
.css-6hp17o-MuiList-root-MuiMenu-list {
  background-color: #2b2b2b;
  border-radius: 10px;
  color: #fafafa;
  .SeeUser {
    margin: 1rem;
    padding: 2rem;
    background-color: #545454;
    border-radius: 10px;
    color: #fafafa;
    font-size: 20px;
    .seeUserInfo {
      margin-right: 1rem;
      font-size: 25px;
    }
  }
  .SeeConfig {
    margin: 1rem;
    padding: 0.5rem 2rem;
    .faGear {
      font-size: 25px;
      margin-right: 1rem;
    }
  }
  .SeeLogout {
    margin: 1rem;
    padding: 0.5rem 2rem;
    .faArrowRightFromBracket {
      font-size: 25px;
      margin-right: 1rem;
    }
  }
  .SeeUser:hover {
    background-color: #545454;
  }
}
.AvatarImage {
  width: 40px !important;
  object-fit: cover;
  max-height: 40px;
  border-radius: 100px;
}

/* PROFILE */
.containerConfig {
  padding: 2rem;
  background-color: #303030;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ProfileContainer {
  .Profile {
    background-color: #1f1f1f;
    color: #fafafa;
    padding: 2rem;
    width: 60%;
    border-radius: 10px;
    .profilenavigation {
      margin-bottom: 1rem;
      display: flex;
      justify-content: space-between;
      font-size: 20px;
      a {
        color: #fafafa;
      }
    }
    .usernameinfoprofila {
      h2 {
        color: #3c9eef;
        font-size: 30px;
      }
      p {
        color: #d8d6d6;
      }
    }
    .contact {
      margin-bottom: 1rem;
      h3 {
        margin-top: 1rem;
        color: #3c9eef;
        font-size: 20px;
        margin-bottom: 0.5rem;
      }
      p {
        margin-bottom: 1rem;
        color: #d8d6d6;
        .fa-phone,
        .fa-envelope {
          font-size: 20px;
        }
      }
    }
    .Navigationdow {
      a {
        text-decoration: none;
        color: white;
      }
      .UserInfoCag {
        background-color: #303030;
        margin-bottom: 2rem;
        border-radius: 10px;
        padding: 2rem;
        a {
          color: #fafafa;
          text-decoration: none;
        }
        .faHeart,
        .faGear,
        .faStar,
        .faLayerGroup {
          margin-right: 0.5rem;
          font-size: 20px;
        }
        span {
          color: #3c9eef;
          font-weight: 500;
          font-size: 17px;
        }
      }
    }
    .logout {
      margin: 1rem 1rem;
      a {
        color: red;
        text-decoration: none !important;
      }
    }
  }
  .profileimage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    img {
      object-fit: cover;
      max-width: 200px;
      min-width: 200px;
      min-height: 200px;
      max-height: 200px;
      border-radius: 100px;
      border: 2px solid #3c9eef;
    }
  }
}

/* CONFIGURACIÓN */
.containerConfiguartion {
  .Profile {
    background-color: #1f1f1f;
    color: #fafafa;
    padding: 2rem;
    width: 60%;
    border-radius: 10px;
    .profilenavigation {
      margin-bottom: 1rem;
      display: flex;
      justify-content: space-between;
      font-size: 20px;
      a {
        color: #fafafa;
      }
    }
  }
  .Navigationdow {
    .UserInfoCag {
      background-color: #303030;
      margin: 1rem;
      padding: 1rem;
      border-radius: 10px;
    }
    a {
      color: #fafafa;
      text-decoration: none;
      margin-bottom: 1rem;
      span {
        margin: 0.5rem;
        color: #3c9eef;
        font-weight: 500;
        font-size: 17px;
      }
    }
  }
}

/* Editar Perfil */

.ContainerEditProfile {
  padding: 2rem;
  background-color: #303030;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .profilenavigation {
    display: flex;
    justify-content: space-between;
    a {
      color: #fafafa;
      font-size: 20px;
    }
    h3 {
      font-size: 20px;
      margin-bottom: 2rem;
    }
  }
  .Profile {
    border-radius: 10px;
    padding: 2rem;
    color: #fafafa;
    width: 60%;
    background-color: #1f1f1f;
    .MuiTextField-root {
      margin: 0px !important;
      margin-bottom: 1rem !important;
      label {
        color: #fafafa;
      }
      input {
        border-radius: 10px;
        color: #fafafa;
        background-color: #303030;
        fieldset {
          border: none;
        }
      }
    }
    .css-sghohy-MuiButtonBase-root-MuiButton-root {
      width: 100% !important;
      margin-bottom: 1rem;
    }
    .css-dpjnhs-MuiInputBase-root-MuiOutlinedInput-root {
      padding: 0 !important;
    }
    textarea {
      border-radius: 10px;
      background-color: #303030;
      color: #fafafa;
      padding: 1rem 1rem;
    }
  }
}
.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  background-color: #303030 !important;
  color: #fafafa !important;
  p {
    color: #fafafa !important;
  }
  input {
    color: #fafafa !important;
  }
}

.PofilePictureSelect {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  img {
    object-fit: cover;
    max-width: 250px;
    min-width: 250px;
    min-height: 250px;
    max-height: 250px;
    border-radius: 100%;
    border: 2px solid #3c9eef;
    margin-bottom: 1rem;
    margin-left: 1.2rem;
  }
}

/* UPADTE PASS */
.ContainerUpdatePass {
  min-height: 100vh;
  padding: 2rem;
  background-color: #303030;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .profilenavigation {
    display: flex;
    justify-content: space-between;
    a {
      color: #fafafa;
      font-size: 20px;
    }
    h3 {
      color: #fafafa;
      font-size: 20px;
    }
  }
  .Profile {
    padding: 2rem;
    width: 60%;
    background-color: #1f1f1f;
    border-radius: 10px;
    .MuiTextField-root {
      margin: 0px !important;
      margin-bottom: 1rem !important;
      label {
        color: #fafafa;
      }
      input {
        border-radius: 10px;
        color: #fafafa;
        background-color: #303030;
        fieldset {
          border: none;
        }
      }
    }
    .css-sghohy-MuiButtonBase-root-MuiButton-root {
      width: 100% !important;
      margin-bottom: 1rem;
    }
  }
}

/* Verification CODE */
.CodeValidation {
  background-color: #303030;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  h2 {
    color: #3c9eef;
    margin-bottom: 0.5rem;
  }
  p {
    margin-bottom: 2rem;
  }
  .css-e70qmq {
    background-color: #1f1f1f;
    width: 60%;
    padding: 2rem;
    border-radius: 10px;
  }
  .MuiTextField-root {
    margin: 0px !important;
    margin-bottom: 1rem !important;
    label {
      color: #fafafa;
    }
    input {
      border-radius: 10px;
      color: #fafafa;
      background-color: #303030;
      fieldset {
        border: none;
      }
    }
  }
  .Alreadyhavecode {
    text-align: right;
  }
  a {
    text-align: center;
    color: #3c9eef;
    text-decoration: none;
  }
}
.ResendCode {
  display: flex;
  justify-content: end;
  .css-1rn30mb-MuiCircularProgress-root {
    width: 30px !important;
    margin-left: 1rem;
  }
}

/* FORGOT PASSWORD */
.tryloginas {
  background-color: #303030;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .ResetOptios {
    width: 50%;
  }

  .FoundUser {
    color: #fafafa;
    border-radius: 10px;
    background-color: #1f1f1f;
    h1 {
      padding: 1rem 2rem;
      color: #3c9eef;
    }
    p {
      padding: 1rem 2rem;
    }
    .FormularioBusqueda {
      padding: 0rem 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    form {
      width: 100%;
    }
    .MuiTextField-root {
      width: 100%;
      margin: 0px !important;
      margin-bottom: 1rem !important;
      label {
        color: #fafafa;
      }
      input {
        width: 100%;
        border-radius: 10px;
        color: #fafafa;
        background-color: #303030;
        fieldset {
          border: none;
        }
      }
    }
    .btncontainer {
      width: 100%;
      display: flex;
      align-items: end;
      justify-content: end;
      margin-bottom: 2rem;
    }
    .cancelfounduser {
      background-color: #d8d6d6;
      color: #545454;
    }
  }

  .EnviarCodigoReinicioContainer {
    margin: 1rem;
    background-color: #1f1f1f;
    border-radius: 10px;
    color: #d8d6d6;
    h1 {
      color: #3c9eef;
      padding: 2rem;
    }
    hr {
      margin-bottom: 1rem;
    }
  }

  .Options {
    display: flex;
    justify-content: center;
  }

  .ChangeUserPassForm {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    width: 100%;
    .Whattodo {
      margin-top: 5rem;
      legend {
        color: #fafafa;
        margin-bottom: 0.5rem;
      }
      .css-vqmohf-MuiButtonBase-root-MuiRadio-root {
        color: #3c9eef;
      }
    }
    .UserInfo {
      text-align: center;
      margin-left: 2rem;
      /* border: 2px solid red; */
      figure {
        img {
          width: 200px;
          min-height: 200px;
          max-height: 200px;
          border-radius: 100px;
        }
      }
      .btncontainer {
        margin-top: 1rem;
        margin-bottom: 2rem;
        .cancelsendemail {
          background-color: #d8d6d6;
          color: #545454;
        }
      }
    }
  }
}

/* CODE TO RECOVERY */

.EntercodeContainer {
  background-color: #303030;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .LoginFormConainer {
    border-radius: 10px;
    background-color: #1f1f1f;
    padding: 2rem;
    width: 50%;
    color: #fafafa;
    label {
      color: #d8d6d6;
    }
    .MuiTextField-root {
      margin: 8px 0px;
      margin-top: 1rem;
    }
    input {
      color: white;
      margin: 0;
      background-color: #303030;
      border-radius: 10px;
    }
    .ReSend {
      display: flex;
      align-items: center;
      justify-content: end;
    }
  }
}

/* RECOVERY PASS */
.Recoverypass {
  background-color: #303030;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  .LoginFormConainer {
    width: 40%;
    background-color: #1f1f1f;
    padding: 2rem;
    .MuiTextField-root {
      margin: 0px !important;
      margin-bottom: 1rem !important;
      label {
        color: #fafafa;
      }
      input {
        border-radius: 10px;
        color: #fafafa;
        background-color: #303030;
        fieldset {
          border: none;
        }
      }
    }
    .css-sghohy-MuiButtonBase-root-MuiButton-root {
      width: 100% !important;
      margin-bottom: 1rem;
    }
  }
}

.DisableAccount {
  background-color: #303030;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #d8d6d6;
  .DisableContainer {
    width: 50%;
    background-color: #1f1f1f;
    padding: 2rem;
    border-radius: 10px;
    h3 {
      color: #e64b4b;
      margin-bottom: 1rem;
    }
  }
  .css-pl8gqh-MuiStack-root {
    margin-top: 2rem !important;
    display: flex;
    justify-content: end;
    width: 100%;
  }
  .InserPass {
    width: 60%;
    background-color: #1f1f1f;
    padding: 2rem;
    border-radius: 10px;
    p {
      width: 100%;
      margin-bottom: 2rem;
    }

    .MuiTextField-root {
      margin: 0px !important;
      margin-bottom: 1rem !important;
      width: 100%;

      label {
        color: #fafafa;
      }
      input {
        border-radius: 10px;
        color: #fafafa;
        background-color: #303030;
        fieldset {
          border: none;
        }
      }
    }
  }
}
.EnablaAccount {
  background-color: #303030;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .ContainerEnable {
    background-color: #1f1f1f;
    color: #d8d6d6;
    padding: 2rem;
    width: 60%;
    border-radius: 10px;
    p {
      margin-bottom: 1rem;
    }
    .btnenable {
      display: flex;
      justify-content: end;
    }
    .MuiTextField-root {
      margin: 0px !important;
      margin-bottom: 1rem !important;
      width: 100%;

      label {
        color: #fafafa;
      }
      input {
        border-radius: 10px;
        color: #fafafa;
        background-color: #303030;
        fieldset {
          border: none;
        }
      }
    }
  }
  .EntercodeContainer {
    width: 100%;
  }
}
